/* Resetowanie stylów dla elementów HTML */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
  
  /* Styl dla kontenera strony */
  .container {
    max-width: 1920px;
    height: 930px;
    margin: 0px auto;
    background-color: #fff;
    padding: 20px;
    position: relative;

    background-image: url(images/Szkolenia/main.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 80px;
    color: #fff;
    
  }

  .dark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}
  .dark > * {
    margin: -20px 50px;
  }
  
  /* Styl dla logo firmy */
  .logo img {
    display: block;
    width: 190px;
    height: 75px;
    margin-top: 50px;
    margin-left: 105px;
  }
  @keyframes logo {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-300px, 0, 0);
      transform: translate3d(-300px, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }
  .logo img {
    -webkit-animation-name: logo;
    animation-name: logo;
  }
  .logo img {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
  }

  .logo h1 {
    position: absolute;
    margin: 340px 0px 0px 1350px;
    width: 614px;
    height: 67px;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 900;
    font-size: 50px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 15px;
    color: #FFFFFF;
    transform: rotate(90deg);
    text-shadow: 1px 1px 0px #ffffff, -1px -1px 0px #ffffff, 1px -1px 0px #ffffff, -1px 1px 0px #ffffff;
    word-spacing: 20px;
  }
  .logo h1:nth-of-type(2) {
    margin: 350px 0px 0px 1280px;
  }
  
  /* Styl dla nawigacji menu */
  .navigation {
    float: right;
    z-index: 1;
    margin-right: 120px;
  }
  @keyframes navigation {
    from {
      opacity: 0;
      -webkit-transform: translate3d(1800px, 0, 0);
      transform: translate3d(1800px, 0, 0);

    }
  
    to {
      opacity: 1;
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }
  .navigation {
    -webkit-animation-name: navigation;
    animation-name: navigation;
  }
  .navigation {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
  }
  .navigation a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
    font-family:'Montserrat','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:0 20px;

  }
  .navigation a:hover {
    color: crimson;
  }

  .navigation ul {
    list-style: none;
    padding-right: 40px;
    margin-right: 50px;
    word-spacing: 15px;

    list-style:none;
	  position:relative;
	  float:left;
	  margin:0;
	  padding:0
  }
  
  .navigation li {
    display: inline-block;
    margin-left: 20px;
    position:relative;
	  float: left;
	  margin:0;
	  padding:0;
  }

  .navigation ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:rgba(255, 255, 255, 0.197);
	padding:0;
}

.navigation ul ul li
{
	float:none;
	width:190px;
}

.navigation ul li ul li a
{
  margin-bottom: -4px;
	line-height:120%;
	padding:10px 15px;
  color: black;
  font-size: 20px;
  float: left;
  
}
.navigation ul li ul li a:hover {
  padding-left: 20px;
  border-left: 6px solid #59e73c;
  font-weight: 900;
  transition: all 0.3s ease;
  color: #59e73c;
}
.navigation ul li ul li a { transition: all 0.5s ease; } 
.navigation ul li:hover > ul
{
	display:block
}
 
  
  /* Styl dla opisu */
  
  .main-desc{
    display: grid;
    margin: -50px 300px;
    transform: translate(100px, 100px);
  }
  @keyframes main-desc {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-600px, 100px, 0);
      transform: translate3d(-600px, 100px, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate(100px, 100px);
      transform: translate(100px, 100px);
    }
  }
  .main-desc {
    -webkit-animation-name: main-desc;
    animation-name: main-desc;
  }
  .main-desc {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
  }
  .main-desc h1 {
    font-size: 60px;
    font-family: 'Montserrat','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    width: 778px;
    max-height: 184px;
    text-shadow: 1px 1px 0px #ffffff, -1px -1px 0px #ffffff, 1px -1px 0px #ffffff, -1px 1px 0px #ffffff;
  }
  .main-desc h2 {
    font-size: 40px;
    margin-left: 200px;
    font-family: 'Montserrat','Times New Roman', Times, serif;
    font-weight: 800;
    text-shadow: 1px 1px 0px #ffffff, -1px -1px 0px #ffffff, 1px -1px 0px #ffffff, -1px 1px 0px #ffffff;
  }
  
  .main-desc p {
  font-family: 'Montserrat', serif;
  font-style: normal;
  max-width: 490px;
  font-weight: 500;
  font-size: 35px;
  line-height: 30px;
  align-items: center;
  letter-spacing: 1px;
  line-height: 1.2;
  transform: translate(180px, 40px);

}

  /* Styl dla przycisków */
  .buttons {
    justify-content: space-between;
    margin-top: 240px;
    max-width: 522px;
    word-spacing: 30px;
  }
  
  .buttons button {
    width: 220px;
    height: 55px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Montserrat', serif;
    color: #fff;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 30px;
    cursor: pointer;
    transform: translate(575px, 0px);
    transition: 0.7s;
  }
  .buttons button:hover{
    background-color: #1D9200;
    border: 1px solid black;
  }
  @keyframes buttons {
    from {
      opacity: 0;
      -webkit-transform: translate3d(180px, 80px, 0);
      transform: translate3d(180px, 80px, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate(575px, 0px);
      transform: translate(575px, 0px);
    }
  }
  .buttons button {
    -webkit-animation-name: buttons;
    animation-name: buttons;
  }
  .buttons button {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
  }

  /*Napis boczny animacja */
  @keyframes header-description-rotate {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-580px, -400px, 0);
      transform: translate3d(0px, 400px, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate(0px, 0px);
      transform: translate(0px, 0px);
    }
  }
  .header-description-rotate  {
    -webkit-animation-name: header-description-rotate;
    animation-name: header-description-rotate;
  }
  .header-description-rotate  {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
  }
  /*Opis nagłówka i linia*/
  .about-part {
    margin: 100px 0px 50px 0px;
    font-size: 80px;
    font-family:'Montserrat', 'Times New Roman', Times, serif;
    font-style: italic;
    text-shadow: 0.5px 0.5px 0px #000000, -0.5px -0.5px 0px #000000, -0.5px -0.5px 0px #000000, -0.5px 0.5px 0px #000000;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .about-part {
    transform: translateX(200%);
    transition: transform 1.0s ease;
  }

  .about-part{
    transform: translateX(-200%);
  }
  .about-part.show{
    transform: translateX(0);
  }

  .line {
    height: 24px;
    width: 50%;
    background: linear-gradient(99.69deg, #FAFF00 18%, rgba(196, 118, 2, 0.92) 97.82%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    right: 0;

    transform: translateX(200%);
    transition: transform 1.0s ease;
  }
  .line{
    transform: translateX(-200%);
  }
  .line.show{
    transform: translateX(0);
  }
  .line h2{
    font-size: 22px;
    font-weight: 400;
  }

  /*Zawartość strony*/
  main {
    margin-top: 100px;
  }
    .training-desc {
    margin: 100px 55px 0px 55px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    padding-left: 55px;
    padding-right: 55px;
    margin-bottom: 200px;
  }
  .training-desc div {
    margin-top: 40px;
    margin-left: 100px;
    width: 1000px;
    height: 630px;
    font-size: 35px;
  }
  .training-desc li {
    margin-left: 70px;
  }
  .training-desc p:nth-of-type(2){
    margin-top: 50px;
  }
  .training-desc img {
    border-radius: 16px;
  }

  /*Blok z ofertą na stronie internetowej*/
  .training-header {
    font-size: 80px;
    font-family: 'Montserrat','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: 900;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
  }
  .training-header img {
    margin-left: 30px;
  }
  #offer {
    font-size: 45px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .training-desc button {
    width: 260px;
    height: 80px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Montserrat', serif;
    color: #fff;
    background-color: green;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
    transform: translate(350px, 0px);
  }
  .training-desc button:hover{
    background-color: #8F6700;
    border: 1px solid black;
  }
  .sections-of-training {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1420px;
    margin: 0 auto;
  }
  .block-training {
    width: 390px;
    height: 510px;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 100px;
    box-sizing: border-box;
    border: 5px solid #B58B1E;
    box-shadow: 0px 10px 20px rgba(0, 40, 100, 0.25);
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .block-training:nth-of-type(4){
    margin-left: 200px;
  }
  .block-training:nth-of-type(5){
    margin-right: 200px;
  }
  
  .block-training h2 {
    height: 60px;
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .block-training .price {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .block-training ul {
    margin-bottom: 80px;
  }
  
  .block-training li {
    font-size: 24px;
    line-height: 2.0;
  }
  .block-training ul li::marker {
    color: #0066FF;;
  }
  
  .block-training button {
    width: 280px;
    height: 65px;
    background-color: transparent;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 8px;
  }
  
  .block-training button:hover {
    background: #C2BB03;
    border-radius: 12px;
  }

  /* Opisy z obrazkami oraz strefa klienta */
  /*main*/
#info1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  margin-right: 109px;
  margin-left: 177px;
  margin-bottom: -50px;
  align-items: flex-start;
}

#info1 h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 61px;
  line-height: 120px;
  
  color: #000000;
}

#info1 #info-img {
  order: 2;
}
#info1 p{
  
width: 926px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 33px;
line-height: 40px;

color: #000000;

}
#text{


  border-right: 1px solid #0000007e;

}
/*2*/
#info2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-top: 200px;
  margin-right: 109px;
  margin-left: 177px;
  margin-bottom: 100px;
  align-items: flex-start;
}

#info2 h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 61px;
  line-height: 120px;
  color: #000000;
}

#info2 #info-img1 {
  order: 2;
}

#info2 p{
  width: 926px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  line-height: 40px;
  color: #000000;
}

#text1 {
  border-left: 1px solid #0000007e;
  padding-left: 40px;
}
  /*strefa kursanta*/
  @import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(https://fonts.googleapis.com/css?family=Roboto);

/* zocial */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}


.student_zone h2 {
  color:rgba(0, 0, 0, 0.8);
  margin-left:12px;
 font-size: 44px;
 text-align: center;

}

.form-content {
  margin-bottom: 150px;
}
form {
  position:relative;
  margin: 50px auto;
  width: 380px;
  height: auto;
  margin-top: 150px;
}

.student_zone input {
  padding: 16px;
  border-radius:7px;
  border:0px;
  background: rgba(198, 198, 198, 0.47);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: block;
  margin: 15px;
  width: 400px;  
  color:rgb(46, 45, 45);
  font-size:18px;
  height: 54px;
}

.student_zone input:focus {
  outline-color: rgb(74, 231, 60);
  background: rgba(255, 255, 255, 0.95);
  color: rgb(0, 0, 0);
}

.student_zone button {
  float: left;
  height: 50px;
  width: 121px;
  border: 11px;
  background: rgb(74, 231, 60);
  border-radius:7px;
  padding: 10px;
  color:white;
  font-size:20px;
  margin-left: 15px;
  word-spacing: 15px;
}

.inputUserIcon {
  position:absolute;
  top:68px;
  right: 80px;
  color:rgb(255, 255, 255);
}

.inputPassIcon {
  position:absolute;
  top:136px;
  right: 80px;
  color:rgb(255, 255, 255);
}

.student_zone input::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
}

.student_zone input:focus::-webkit-input-placeholder {
  color: #ffffff;
}
.student_zone button p {
  float: left;
  position: relative;
  margin-top: -0px;
}
  /*Footer strony internetowej */ 

  footer {
    background: linear-gradient(99.69deg, #BECA36 18%, rgba(205, 158, 37, 0.92) 81.07%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
    
  }
  .footer-up {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 55px;
    padding-right: 55px;
    margin-bottom: -30px;
  }
  .footer-block {
    flex-basis: calc(25% - 20px);
    margin-bottom: 20px;
  }
  
  .footer-block img {
    display: block;
    margin-bottom: 70px;
  }
  
  .footer-block h2 {
    font-size: 40px;
    margin-bottom: 10px;
    color: white;
    margin-bottom: 20px;
  }
  
  
  .footer-block ul {
    text-decoration: none;
  }

  .footer-block li {
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    list-style: none;
    
  }

  .footer-block li a {
    margin-bottom: 5px;
    font-size: 20px;
    color: white;
    text-decoration: none;
  }
  
  
  
  .footer-block li a:hover {
    text-decoration: underline;
    font-size: 25px;
  }
  
  .footer-block p {
    margin: 0;
    line-height: 1.5;
    color: white;
  }
  .footer-block:nth-of-type(1) {
    font-size: 20px;
    margin-right: 70px;
  }
  .footer-block:nth-of-type(1) p {
    margin-top: -50px;
  }
  .footer-block:nth-of-type(2) {
    font-size: 20px;
  }
  .footer-block:nth-of-type(3) {
    font-size: 24px;
  }
  .footer-block:nth-of-type(4) {
    font-size: 30px;
  }
  
  .footer-contact1 {
    display:inline-block;
    vertical-align: middle;
    margin-bottom: -40px;
    margin-right: 30px;
  }
  .footer-contact1 #moje-zdjecie {
    margin-left: 100px;
    margin-top: 0px;
    transform: scale(4.0);
  }
  .footer-contact2 p {
    margin-left: 70px;
  }
  .footer-contact2 {
    display:inline-block;
    vertical-align: middle;
  }
  .footer-contact img {
    float: left;
    width: 48px;
    height: 48px;
  }
  
  .footer-address {
    display: inline-block;
    vertical-align: middle;
  }
  .footer-address h2 {
    margin-left: 100px;
    margin-top: -110px;
    margin-bottom: 30px;
  }
  .footer-bottom {
    text-align: center;
    height: 30px;
  }
  
  .footer-bottom p {
    padding-top: 30px;
    border-top: 1px solid #cccccc2a;
    color: rgba(255, 255, 255, 0.253);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: -30px;
  }